<html>
    <head></head>
    <body>
        <div>
            <a href="https://bitbucket.org/site/oauth2/authorize?client_id=22Nw88AezgdVaTurC6&response_type=token">Login</a>
        </div>
    </body>
</html>